{% extends "VLayout.html" %}

{% block content %}
<!--TFCompare.html begin-->
<form action="/compare" method="POST" enctype="multipart/form-data">
    <div class="login login-screen" style="width:700px">
      <table>
        <tr>
          <td></td>
          <td>Файл 1 (xls, xlsx)</td>
          <td>Файл 2 (xls, xlsx)</td>
        </tr>
        <tr>
          <td>Закладка</td>
          <td>{{ Form.Sheet1() }}</td>
          <td>{{ Form.Sheet2() }}</td>
        </tr>
        <tr>
          <td>Код</td>
          <td>{{ Form.Code1() }}</td>
          <td>{{ Form.Code2() }}</td>
        </tr>
        <tr>
          <td>Назва</td>
          <td>{{ Form.Name1() }}</td>
          <td>{{ Form.Name2() }}</td>
        </tr>
        <tr>
          <td>Ціна</td>
          <td>{{ Form.Price1() }}</td>
          <td>{{ Form.Price2() }}</td>
        </tr>
        <tr>
          <td>Вибрати</td>
          <td>{{ Form.File1() }}</td>
          <td>{{ Form.File2() }}</td>
        </tr>
      </table>
      {{ Form.Submit(class="btn btn-primary btn-large btn-block") }}
    </div>
</form>

<div class="login login-screen" style="width:1200px">
  <table>
    <tr">
      <td>
      {%for Item in Form.Info %}
        {{ Item }}<br>
      {% endfor %}
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>N</th>
      <th>Код</th>
      <th>Назва</th>
      <th>Ціна 1</th> 
      <th>Ціна 2</th> 
      <th>+/-</th> 
      <th>%</th> 
    </tr>

    {%for Item in Form.Data %}
    <tr bgcolor="{{ loop.cycle('', '#B0E0E6') }}">
      <td>{{ loop.index }}</td>
      <td>{{ Item[0] }}</td>
      <td>{{ Item[1] }}</td>
      <td>{{ Item[2] }}</td>
      <td>{{ Item[3] }}</td>
      <td>{{ Item[4] }}</td>
      <td>{{ Item[5] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<!--TFCompare.html end-->
{% endblock %}
