{% extends "VLayout.html" %}

{% block content %}
<!--TFCompare.html begin-->
<form action="/compare" method="POST" enctype="multipart/form-data">
    <div class="login login-screen" style="width:500px">
      <table>
        <tr>
          <td>Закладка</td>
          <td>{{ Form.Sheet() }} </td>
        </tr>
        <tr>
          <td>Код</td>
          <td>{{ Form.Code() }} </td>
        </tr>
        <tr>
          <td>Назва</td>
          <td>{{ Form.Name() }} </td>
        </tr>
        <tr>
          <td>Ціна</td>
          <td>{{ Form.Price() }} </td>
        </tr>
        <tr>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Файл 1 (xls, xlsx)</td>
          <td>{{ Form.File1() }}</td>
        </tr>
        <tr>
          <td>Файл 2 (xls, xlsx)</td>
          <td>{{ Form.File2() }}</td>
        </tr>
      </table>
      {{ Form.Submit(class="btn btn-primary btn-large btn-block") }}
    </div>
</form>

<div class="login login-screen" style="width:1100px">
<table>
  <tr>
    <th>N</th>
    <th>Код</th>
    <th>Назва</th>
    <th>Ціна 1</th> 
    <th>Ціна 2</th> 
    <th>+/-</th> 
    <th>%</th> 
  </tr>
  {%for Item in Form.Data %}
    <tr bgcolor="{{ loop.cycle('', '#B0E0E6') }}">
      <td>{{ loop.index }}</td>
      <td>{{ Item[0] }}</td>
      <td>{{ Item[1] }}</td>
      <td>{{ Item[2] }}</td>
      <td>{{ Item[3] }}</td>
      <td>{{ Item[4] }}</td>
      <td>{{ Item[5] }}</td>
    </tr>
  {% endfor %}
</table>
</div>

<!--TFCompare.html end-->
{% endblock %}
