{% extends "VLayout.html" %}

{% block content %}
<!--TFSearch.html begin-->
<form action="/search" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                 <h1>{{ Form.Title }}</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                {{ Form.Phone(class='login-field', placeholder='0976646510') }}
                </div>
                {{ Form.Submit(class="btn btn-primary btn-large btn-block") }}
                <br>
            </div>
        </div>
    </div>
</form>


<table>
  <tr>
    <th>Date</th>
    <th>Phone</th>
    <th>Duration</th> 
  </tr>
  {% for File in Form.Files %}
    <tr>
      <td>{{File.get('Date')}}</td>
      <td><a href="{{ File.get('File') }}">{{ File.get('Name') }}</a></td>
      <td>{{File.get('Duration')}}</td>
    </tr>
  {% endfor %}
</table>
<!--TFSearch.html end-->
{% endblock %}
